datasets==2.4.0
tqdm==4.64.1
numpy==1.23.1
evaluate==0.3.0
scikit-learn==1.3.2
# torch==2.1.0+cu121
# torchaudio==2.1.0+cu121
# torchvision==0.16.0+cu121
matplotlib==3.8.2
Quart==0.19.4

# ######## Torch #############
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# ######## Tranformer 4.22.0.dev0 ############
# git clone --single-branch --branch fast_tokenizers_BARTpho_PhoBERT_BERTweet https://github.com/datquocnguyen/transformers.git
# cd transformers
# pip3 install -e .

# ######## Necessary during training #########
#tensorflow==2.14.0